name: CI

on:
  push:
    branches:
      - main
  pull_request:

jobs:

  dist:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-python@v5
        with:
          python-version: "3.x"
      - run: python -m pip install --upgrade pip build wheel twine
      - run: python -m build --sdist --wheel
      - run: python -m twine check dist/*
      - uses: actions/upload-artifact@v4
        with:
          path: dist/*

  lint:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        lint-command:
          - black --check --diff .
          - ruff check --output-format=github .
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-python@v5
        with:
          python-version: "3.x"
          cache: 'pip'
          cache-dependency-path: 'pyproject.toml'
      - run: python -m pip install .[lint]
      - run: ${{ matrix.lint-command }}

  pytest:
    needs:
      - lint
    strategy:
      matrix:
        os:
          - "ubuntu-latest"
        python-version:
          - "3.10"
          - "3.11"
          - "3.12"
          - "3.13"
        django-version:
          - "4.2"  # LTS
          - "5.1"
          - "5.2"
        extras:
          - "test"
          - "test,sentry"
          - "test,redis"
        include:
          # 4.2 is the last version to support Python 3.9
          - os: "ubuntu-latest"
            python-version: "3.9"
            django-version: "4.2"
            extras: "test"
    services:
      redis:
        image: redis
        ports:
          - 6379:6379
        options: --entrypoint redis-server
    env:
      REDIS_URL: redis:///0

    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v5
    - uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
    - run: python -m pip install .[${{ matrix.extras }}]
    - run: python -m pip install django~=${{ matrix.django-version }}.0
    - run: python -m pytest
    - uses: codecov/codecov-action@v5
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
